<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
   
    
      <div class="card">
        <h2>change password Form</h2>
        <form method="post" action="/reset/<%= userId%>">
          <label for="password">Password</label>
          <input
            type="text"
            name="password"
            placeholder="Enter your password"
          />
          <button type="submit">change</button>
        </form>
        
      </div>
      </div>
    </div>
  </body>
</html>
