<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
   
    
      <div class="card">
        <h2>Reset Form</h2>
        <form method="post" action="/reset">
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="Enter your Email" />
          <button type="submit">reset</button>
        </form>
        
      </div>
      </div>
    </div>
  </body>
</html>
